
.vscode/EQUIPMENT/armor-properties.md
.vscode/EQUIPMENT/armor-rules.md
.vscode/EQUIPMENT/armor.md
.vscode/EQUIPMENT/masterwork-armor.md
.vscode/EQUIPMENT/shield-properties.md
.vscode/EQUIPMENT/shields.md
.vscode/settings.json
